<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/jaiswals/JavaPractice/APIAutomationFramework7x">
        <classes>
            <class name="com.sushmitaJ.tests.crud.TestCreateBookingPOST">
                <methods>
                    <include name="testVerifyCreateBookingPOST01"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>